/* Global */

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Manrope', sans-serif;
  background-image: url('https://source.unsplash.com/random/1600×900/?weather');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  opacity: 75%;
}