/* Global */

/* Google font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: 'Manrope', sans-serif;
  background-image: url('https://source.unsplash.com/random/1600×900/?weather');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.card {
  opacity: 65%;
  padding: 2em;
  color: black;
  border-radius: 15px;
}

input.search-bar {
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
  padding-bottom: 10px;
  font-size: 1.2em;
}

.search_button {
  border: none;
  margin-top: 0.5em;
}

button.btn.search_button {
  padding-left: 0px;
}

.description {
  text-transform: capitalize;
}